!! Appearance

! Font
URxvt.font: \
	xft:Monospace:style=Regular:size=16:minspace=False, \
	Font Awesome 6 Free:style=Regular, \
	Font Awesome 6 Free:style=Solid, \
	Font Awesome 6 Brands:style=Regular

! Spacing
URxvt.letterSpace: -1
URxvt.lineSpace: -1


! Cursor
URxvt.cursorBlink: true
URxvt.cursorUnderline: true

! ScrollBar
URxvt.scrollStyle: plain
URxvt.scrollBar: false
URxvt.scrollBar_right: false

! Misc
URxvt.internalBorder: 12
URxvt*depth: 32
URxvt.background: [90]#2E3440
URxvt*transparent: true
URxvt*shading: 20
URxvt.blurRadius: 5


!! Colors

! Basic
*.foreground: #ffffff
*.background: #000000


!! ISO 14755 mode
URxvt.iso14755: false
URxvt.iso14755_52: false


!!
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

